<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
<package id="System.Runtime" version="4.0.2.0" requireReinstallation="true" />
<package id="System.Runtime.InteropServices" version="4.0.2.0" requireReinstallation="true" />
<package id="System.Runtime.InteropServices.WindowsRuntime" version="4.0.2.0" requireReinstallation="true" />
</packages>